<label for="question">Question:</label>
<input type="text" name="question_text_1" value=""><br>
<label for="choice">Choice 1:</label>
<input type="text" name="choice_text_1a" value=""><br>
<label for="choice">Choice 2:</label>
<input type="text" name="choice_text_1b" value=""><br>
<label for="choice">Choice 3:</label>
<input type="text" name="choice_text_1c" value=""><br>
<label for="choice">Choice 4:</label>
<input type="text" name="choice_text_1d" value=""><br>