
<div class="container">
  <img class="panda" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5ZS6vvlL4tWwwztAveN9V5AvAETyZYONphYegsO_EiTeAv2hAb_rtlxH9">

  <form class="form-signin" name="input" action="/login" method="post">
    <h2 class="form-signin-heading">Please sign in!</h2>
    <label for="username">Username:</label>
    <input type="text" name="username" value=""><br>
    <label for="name">Password:</label>
    <input type="password" name="password" value=""><br>
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->

<div class="container">

  <form class="form-signin" name="input" action="/signup" method="post">
    <h2 class="form-signin-heading">Create an account!</h2>
    <label for="name">Name:</label>
    <input type="text" name="name" value=""><br>
    <label for="username">Username:</label>
    <input type="text" name="username" value=""><br>
    <label for="password">Password:</label>
    <input type="password" name="password" value=""><br>
    <button class="btn btn-large btn-primary" type="submit">Sign up</button>
  </form>
</div>


