<div class="container">
  <form class="form-signin" name="input" action="/login" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="input-block-level" placeholder="Username" name="username">
    <input type="password" class="input-block-level" placeholder="Password" name="password">
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->

<div class="container">

  <form class="form-signin" name="input" action="/signup" method="post">
    <h2 class="form-signin-heading">Create an account!</h2>
    <input type="text" class="input-block-level" placeholder="Name" name="name">
    <input type="text" class="input-block-level" placeholder="Username" name="username">
    <input type="password" class="input-block-level" placeholder="Password" name="password">
    <button class="btn btn-large btn-primary" type="submit">Sign up</button>
  </form>
</div>


