
<div class="container">
  <form class="survey-form" name="input" action="/surveys/create" method="post">
    <h2 class="form-signin-heading">Create Your Survey!</h2>
    <label for="title">Survey Title:</label>
    <input type="text" name="title" value=""><br>
    <%= erb :_new_question %>
    <button class="new-question" type="button">Add New Question</button>
    <button class="btn btn-large btn-primary" type="submit">Submit</button>
  </form>
</div>


