<ul class ="header">
	<li><a href= "/">Home</a></li>
	<li><a href ="/logout">Logout</a></li>
</ul>
	

<div>
	<a href='/surveys/create'><button class="new-survey" type="button">Create A Survey</button></a>
  <ul class="links">
  <% surveys = Survey.where(user_id: @profile.id) %>
  <% surveys.each do |survey| %>
    <li><a href="/surveys/<%= survey.id %>/take"><%= survey.title %></a> - <a href="/surveys/<%= survey.id %>/edit">Edit</a> - 
    <a href="/surveys/<%= survey.id %>/results">Results</a></li>
  <% end %>
  </ul>
</div>